mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className)
  img(src=require(`images/${path}`) class=className)

mixin social(socialClassName, listClassName, itemClassName, iconAreaClassName, iconClassName, ...items)
  div(class=socialClassName)
    ul(class=listClassName)
      each item in items
        li(class=itemClassName)
          div(class=iconAreaClassName)
            +icon(item, iconClassName)